<!DOCTYPE HTML>
<html>
<head>
    <title>Bamboogrove</title>
</head>
<div class="header">
    <div class="smallLogo">
        <a href="/">Bamboogrove</a>
    </div>
</div>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link href="/app/css/header-footer.css" rel="stylesheet" type="text/css">
<link href="/app/css/fonts.css" rel="stylesheet" type="text/css">
<body>

