<div class="smallFooter">
    Copyright ©
    All Rights Reserved.
</div>
<!--index.js 추가-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/app/js/index.js"></script>
</body>


</html>