@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@700&display=swap');


.img {
    position: relative;
    background-image: url("/app/images/paperplane.jpg");
    height: 100vh;
    background-size: cover;
    margin-top: -20px;
}

.img-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.img .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: white;
    z-index: 2;
    text-align: center;
    font-family: 'Noto Serif KR', serif;
}

.img .content .main {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    padding-bottom: 70px;
}


:root {
    --gray-color: #717271;
    --light-gray-color: #dee0e5;
    --midium-gray-color: #999fa6;
    --button-gray-color: #f0f1f0;
    --footer-back-color: #f1f2f1;
    --footer-border-color: #e3e4e3;

    --button-text-gray-color: #5F6368;
    --font-family: 'Apple SD Gothic Neo', arial, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}

.main-section .searchbar-wrap {
    border: solid 1px var(--light-gray-color);
    width: 490px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-left: 8px;
    padding-right: 8px;
    background-color: white;


}

.main-section .searchbar-wrap i {
    line-height: 50px;
    color: var(--midium-gray-color);

}

.main-section .searchbar-wrap .search-input {
    width: 400px;
    height: 50px;
    font-size: 16px;
    border: none;
    outline: none;

}

.main-section .buttons {
    padding-top: 20px;
    font-weight: bolder;

}

.main-section .buttons a {
    text-decoration: none;
    font-weight: bolder;

}

.main-section .buttons button {
    background-color: var(--button-gray-color);
    border: 0;
    height: 38px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
    color: var(--button-text-gray-color);
    font-weight: bolder;
}

.main-section .now-lang {
    padding-top: 25px;
    font-size: 12px;
    padding-right: 10px;
}
