@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gothic+A1:wght@500&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block;
}

:root {
    --body-background-color: #f5f6f7;
    --font-color: #4e4e4e;
    --border-gray-color: #dadada;
    --naver-green-color: #545a57;
    --naver-green-border-color: #545a57;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--body-background-color);
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 21px;
}

.main-container .main-wrap {
    width: 768px;

}

.main-container .main-wrap .sel-lang-wrap .lang-select {
    width: 96px;
    height: 30px;
    color: var(--font-color);
    border: solid 1px var(--border-gray-color);
}

.main-container .main-wrap .logo-wrap {
    padding-top: 55px;
}

.main-container .main-wrap .logo-wrap span {
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Lobster', cursive;
}

.main-container .main-wrap header .sel-lang-wrap {
    display: flex;
    justify-content: flex-end;
}

.main-container .main-wrap header .logo-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input-section-wrap {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input-wrap {
    width: 465px;
    height: 48px;
    border: solid 1px var(--border-gray-color);
    background: white;
}

.password-wrap {
    margin-top: 13px;
}

.login-input-wrap input {
    border: none;
    width: 430px;
    margin-top: 10px;
    font-size: 14px;
    margin-left: 10px;
    height: 30px;
}

.login-button-wrap {
    padding-top: 13px;
}

.login-button-wrap button {
    width: 465px;
    height: 48px;
    font-size: 18px;
    background: var(--naver-green-color);
    color: white;
    border: solid 1px var(--naver-green-border-color);
}

.login-stay-sign-in {
    width: 465px;
    height: 52px;

    display: flex;
    font-size: 15px;
    color: #4e4e4e;
    align-items: center;
    justify-content: flex-start;
    border-bottom: solid 1px var(--border-gray-color);

    margin-left: 150px;
}

.login-stay-sign-in i {
    font-size: 25px;
    color: #9ba1a3;
}

.Easy-sgin-in-wrap {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

}

.Easy-sgin-in-wrap h2 {
    font-size: 20px;
}

.Easy-sgin-in-wrap .sign-button-list {
    padding-top: 25px;
    list-style: none;
    width: 465px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Easy-sgin-in-wrap .sign-button-list li {
    padding-bottom: 10px;
}

.Easy-sgin-in-wrap .sign-button-list li button {
    width: 465px;
    height: 60px;
    border: solid 1px var(--border-gray-color);
    text-align: left;
    background: white;
}

.Easy-sgin-in-wrap .sign-button-list li button img {
    width: 25px;
    padding-left: 10px;
    padding-right: 30px;
    float: left;
}


.Easy-sgin-in-wrap .sign-button-list li button a {
    font-family: 'Merriweather', serif;
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-bottom: -40px;
}

.Easy-sgin-in-wrap .sign-button-list li button a:hover {
    color: #6d6868;
}


.Easy-sgin-in-wrap .sign-button-list li button span {
    padding-left: 20px;
    font-size: 18px;
}

.Easy-sgin-in-wrap .forget-msg {
    color: var(--font-color);
    font-size: 14px;
    padding-top: 10px;

}