/*공통부분*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    line-height: 1;
    min-height: 100%;
}

html {
    height: 100%;
}


.wrapper {
    height: 450px;
    width: 100%;
    margin: 50px auto;
    padding-bottom: 300px;
    opacity: 0.6;
    margin-top: -2px;

}

.wrapper .sidebar {
    height: 100%;
    width: 20%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #070908;
    transition: 0.5s;
    padding-top: 60px;
}

.wrapper .sidebar a {
    padding: 30px 15px 8px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.wrapper .sidebar a:hover {
    color: #f1f1f1;
}

.wrapper .sidebar .col {
    height: 10%;
}

.wrapper .sidebar .col1 {
    border-bottom: 1px solid #b4b8b4;
    height: 20%;
}

.wrapper .main {
    width: 80%;
    height: 100%;
    float: right;
    box-sizing: border-box;
    margin-top: -450px;
}

.wrapper .main .tabletop {
    margin-left: 150px;
    margin-top: 10px;
}

.wrapper .main .tabletop span {
    font-weight: bold;
    color: #000000;
    font-size: 30px;
}

.wrapper .main .tabletop table {
    margin-top: 30px;
}

.wrapper .main .main-width {
    width: 600px;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}


.wrapper-h3 {
    background-color: #1d1d1d;
    height: 50px;
    width: 100%;
    color: white;
    font-weight: bold;
    margin-top: -60px;
}

.wrapper-h3 h3 {
    padding-left: 10px;
    padding-top: 15px;
}

.wrapper .wrapper-body {
    width: 100%;
    height: 450px;
    margin-top: 15px;
}

.wrapper .wrapper-body .wrapper-left {
    width: 30%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    border-bottom: 1px solid #b4b8b4;
}

.wrapper .wrapper-body .wrapper-left .imgmove {
    margin-top: 120px;
    margin-left: 60px;
}

.wrapper .wrapper-body .wrapper-right {
    width: 70%;
    height: 100%;
    float: right;
    box-sizing: border-box;
}

.wrapper .wrapper-body .wrapper-right .col1 {
    border-bottom: 1px solid #b4b8b4;
    height: 33%;
}

.wrapper .wrapper-body .wrapper-right .col1 .row1 {
    width: 30%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding-top: 50px;

}

.wrapper .wrapper-body .wrapper-right .col1 .row1-data {
    width: 70%;
    height: 100%;
    float: right;
    box-sizing: border-box;
    padding-top: 50px;
}

.wrapper .wrapper-body .wrapper-right .col2 {
    border-bottom: 1px solid #b4b8b4;
    height: 33%;
}


.wrapper .wrapper-body .wrapper-right .col2 .row2 {
    width: 30%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding-top: 50px;

}

.wrapper .wrapper-body .wrapper-right .col2 .row2-data {
    width: 70%;
    height: 100%;
    float: right;
    box-sizing: border-box;
    padding-top: 50px;
}

.wrapper .wrapper-body .wrapper-right .col3 {
    border-bottom: 1px solid #b4b8b4;
    height: 33%;

}

.wrapper .wrapper-body .wrapper-right .col3 .row3 {
    width: 30%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding-top: 50px;

}

.wrapper .wrapper-body .wrapper-right .col3 .row3-data {
    width: 70%;
    height: 100%;
    float: right;
    box-sizing: border-box;
    padding-top: 50px;
}


/*메세지 목록*/
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 13px;
    background: #fff;
    margin: 60px;
    border-collapse: collapse;
    text-align: center;
    top: 50%;
    table-layout: fixed;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
    padding-top: 75px;
}

table {
    width: 900px;
    border-bottom: 1px solid #a9a9a9;
    margin-left: 200px;
    margin-top: 35px;
}


.tdId {
    width: 35px;
}

.author {
    width: 80px;
}

.createdDate {
    width: 150px;
}


.bold :hover {
    color: black;
    font-weight: bold;

}

.bold {
    text-align: left;
}

.bold a {
    color: black;
    text-decoration: none;
}

table tr th {
    height: 10px;
    background: #c4dff8;
    center: auto;
    border-top: 2px solid #061655;
    border-bottom: 1px solid #1a1515;
}

table th {

    color: #000000;
    padding: 3px 3px;
    border-bottom: 1px solid #a9a9a9;
}

table td {
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 2px 2px;
    font-weight: lighter;
}


.tabletop .message-btn .check button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: var(--button-bg-color);
    color: var(--button-color);

    margin: 0;
    padding: 0.5rem 1rem;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    border: none;
    border-radius: 4px;

    display: inline-block;
    width: auto;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    cursor: pointer;

    --button-color: #ffffff;
    --button-bg-color: #ff1010;
    --button-hover-bg-color: #025ce2;

}

.tabletop .post a{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: var(--button-bg-color);
    color: var(--button-color);

    margin: 0;
    padding: 0.5rem 1rem;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    border: none;
    border-radius: 4px;

    display: inline-block;
    width: auto;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    cursor: pointer;

    --button-color: #ffffff;
    --button-bg-color: #0d49fd;
    --button-hover-bg-color: #025ce2;

}

.tabletop .message-btn{
    margin-top: -25px;
}

.check{
    margin-top: 100px;
}
.post{

    margin-top: -30px;
    margin-left: 820px;
}


/*페이지 버튼*/
.page_wrap {
    text-align: center;
    font-size: 0;
    margin-top: 100px;
    margin-left: -180px;
}

.page_nation {
    display: inline-block;
}

.page_nation .none {
    display: none;
}

.page_nation a {
    display: block;
    margin: 0 3px;
    float: left;
    border: 1px solid #e6e6e6;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    font-size: 13px;
    color: #999999;
    text-decoration: none;
}

.page_nation .arrow {
    border: 1px solid #ccc;
}

.page_nation a.active {
    background-color: #42454c;
    color: #fff;
    border: 1px solid #42454c;
}


.h1header {
    text-align: center;
    font-weight: normal;
    background-color: #090401;
    height: 150px;
    margin-top: -20px;
    padding-top: 90px;
    color: #eeeeec;
    font-weight: bold;
    font-size: 30px;
}

.headernav {
    width: 100%;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-right: none;
}

.headernav .headerul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}


.headernav .headerul .menu2 {
    list-style: none;
    float: left;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
    width: 16.6667%; /* fallback for non-calc() browsers */
    width: calc(100% / 6);
    box-sizing: border-box;
}

.headernav .headerul .menu2:first-child {
    border-left: none;
}

.headernav .headerul .menu2 .headera {
    display: block;
    text-decoration: none;
    color: #616161;
    padding: 10px 0;
}

/*---------보내기-------------------*/
.btn-input{
    margin-top: 10px;
    margin-left: 920px;
}

.btn-input button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: var(--button-bg-color);
    color: var(--button-color);

    margin: 0;
    padding: 0.5rem 1rem;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    border: none;
    border-radius: 4px;

    display: inline-block;
    width: auto;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    cursor: pointer;

    --button-color: #ffffff;
    --button-bg-color: #0d49fd;
    --button-hover-bg-color: #025ce2;

}

.btn-input a {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: var(--button-bg-color);
    color: var(--button-color);

    margin: 0;
    padding: 0.5rem 1rem;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    border: none;
    border-radius: 4px;

    display: inline-block;
    width: auto;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    cursor: pointer;

    --button-color: #ffffff;
    --button-bg-color: #fd0d0d;
    --button-hover-bg-color: #025ce2;

}

.table textarea {
    border: none;
    height: 300px;
    width: 100%;
}

.table input{
    border: none;
    width: 100%;
}

.height{
    height: 300px;
}
