html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    line-height: 1;
    min-height: 100%;
}

html {
    height: 100%;
}

.wrapper {
    position: relative;
    width: 400px;
    margin: 50px auto;
    padding-top: 5%;
    padding-right: 35%;
    padding-bottom: 300px;
}

.wrapper .empty {
    height: 10px;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 13px;
    background: #fff;
    margin: 60px;
    border-collapse: collapse;
    text-align: center;
    border-bottom: 5px solid #592d00;
    top: 50%;
    table-layout: fixed;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;

}

table {
    width: 900px;
    border-bottom: 1px solid #a9a9a9;
    margin-left: 200px;
    margin-top: 35px;
}

table {
    background-color: #ffffff;
}

.tdId {
    width: 35px;
}

.author {
    width: 80px;
}

.createdDate {
    width: 150px;
}

.hit {
    width: 50px;
}


.bold :hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;

}

.bold {
    text-align: left;
}

.bold a {
    color: black;
    text-decoration: none;
}

table tr th {
    height: 10px;
    background: #fafafa;
    center: auto;
    border-top: 1px solid #1a1515;
    border-bottom: 1px solid #1a1515;
}

table th {
    font-weight: bold;
    color: #000000;
    padding: 3px 3px;
    border-bottom: 1px solid #a9a9a9;
}

table td {
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 2px 2px;
    font-weight: lighter;
}

.searchWidth {
    width: 900px;
}

.searchWidth .search {
    width: 250px;
    float: left;
}

.searchWidth .search .select {
    float: left;
    padding-right: 5px;
}

.searchWidth .search .input {
    float: bottom;
}

.searchWidth .search .button {
    float: right;
    margin-top: -22px;
}

.wrapper .searchWidth .saveButton {
    float: right;
}

.wrapper .searchWidth .saveButton a {
    background-color: #41516a;
    border: none;
    color: #ffffff;
    padding: 5px 5px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 7px;
}


/*페이지 버튼*/

.page_wrap {
    text-align: center;
    font-size: 0;
    float: bottom;
    margin-top: 20px;
    margin-left: 280px;
}

.page_nation {
    display: inline-block;
}

.page_nation .none {
    display: none;
}

.page_nation a {
    display: block;
    margin: 0 3px;
    float: left;
    border: 1px solid #e6e6e6;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    font-size: 13px;
    color: #999999;
    text-decoration: none;
}

.page_nation .arrow {
    border: 1px solid #ccc;
}

.page_nation a.active {
    background-color: #42454c;
    color: #fff;
    border: 1px solid #42454c;
}


/*-----------------------------------------------------*/

.h1header {
    text-align: center;
    font-weight: normal;
    background-color: #090401;
    height: 150px;
    margin-top: -20px;
    padding-top: 90px;
    color: #eeeeec;
    font-weight: bold;
    font-size: 30px;
}

.headernav {
    width: 100%;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-right: none;
}

.headernav .headerul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.headernav .headerul .menu2 {
    list-style: none;
    float: left;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
    width: 16.6667%; /* fallback for non-calc() browsers */
    width: calc(100% / 6);
    box-sizing: border-box;
}

.headernav .headerul .menu2:first-child {
    border-left: none;
}

.headernav .headerul .menu2 .headera {
    display: block;
    text-decoration: none;
    color: #616161;
    padding: 10px 0;
}
