/*공통부분*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    line-height: 1;
    min-height: 100%;
}

html {
    height: 100%;
}

.wrapper {
    position: relative;
    width: 400px;
    margin: 50px auto;
    margin-top: 100px;
    padding-right: 38%;
    padding-bottom: 300px;
    cursor: auto;
}


table {
    width: 900px;
    border-bottom: 1px solid #fcfcfc;
    margin-left: 200px;
    margin-top: 50px;
}

table {
    background-color: #ffffff;
}


table tr th {
    background: #f4f6f6;
    center: auto;
}

table th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    padding: 5px 3px;
    border-bottom: 1px solid #a9a9a9;
}

table td {

    text-align: left;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 6px 8px;
}

.hit {
    width: 50px;
}


.wrapper .btn-input {
    width: 80%;
    margin-left: 200%;
}

.wrapper .btn-input button {
    background-color: #41516a;
    border: none;
    color: #ffffff;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;

}


.wrapper .btn-input a {
    background-color: #41516a;
    border: none;
    color: #ffffff;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
}

/*세부사항*/

.wrapper .posts-detail .table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 13px;
    background: #fff;
    margin: 60px;
    border-collapse: collapse;
    text-align: center;
    top: 50%;
    table-layout: fixed;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
    padding-top: 75px;
}


.wrapper .posts-detail .table .height {
    height: 500px;
    text-align: left;
}

.wrapper .btn-right {
    padding-left: 30px;
    margin-top: -50px;
}


/*등록 ,수정 부분*/

.wrapper .posts-save {
    margin-left: 10px;
}

.wrapper .posts-save th {
    width: 150px;
}

.wrapper .posts-save input {
    width: 100%;
    border: none;
}


.wrapper .posts-save textarea {
    border: none;
    height: 500px;
    width: 100%;
}


/*수정부분*/

.wrapper .btn-input2 {
    width: 80%;
    margin-left: 190%;
}

.wrapper .btn-input2 button {
    background-color: #41516a;
    border: none;
    color: #ffffff;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;

}

.wrapper .btn-input2 button :hover {
    color: #010501;

}


/*---------*/
.h1header {
    text-align: center;
    font-weight: normal;
    background-color: #090401;
    height: 150px;
    margin-top: -20px;
    padding-top: 90px;
    color: #eeeeec;
    font-weight: bold;
    font-size: 30px;
}

.headernav {
    width: 100%;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-right: none;
}

.headernav .headerul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}


.headernav .headerul .menu2 {
    list-style: none;
    float: left;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
    width: 16.6667%; /* fallback for non-calc() browsers */
    width: calc(100% / 6);
    box-sizing: border-box;
}

.headernav .headerul .menu2:first-child {
    border-left: none;
}

.headernav .headerul .menu2 .headera {
    display: block;
    text-decoration: none;
    color: #616161;
    padding: 10px 0;

}

.headernav .headerul .menu2 .headera:hover {
    display: block;
    color: #616161;
    padding: 10px 0;
}

/*----------댓글------------------*/
.simple_table {
    width: 100%;
    border: none;
    border-collapse: separate;
    border-spacing: 2px;
}

.simple_table th {
    padding: 15px;
    border: none;
    border-left: 5px solid #C03;
    border-bottom: 1px solid #DDD;
    background: #FCF0F3;
    font-weight: normal;
    text-align:center;
    text-shadow: 0 1px #FFF;
    vertical-align: middle;
}

.simple_table td {
    padding: 15px;
    border: none;
    border-bottom: 1px solid #DDD;
    text-align: left;
    vertical-align: baseline;
}