{{>layout/header}}
<div class="wrapper">
    <div class="posts-save">
        <form>
            <table class="table">
                <tr>
                    <th>번호</th>
                    <td><input type="text" id="id" value="{{post.id}}" readonly></td>
                    <th>작성자</th>
                    <td><input type="text" id="author" value="{{post.author}}" readonly></td>
                </tr>
                <tr>
                    <th>제목</th>
                    <td colspan="3"><input type="text" id="title" value="{{post.title}}">
                    </td>
                </tr>
                <tr>
                    <th colspan="4">내용</th>
                </tr>
                <tr>
                    <td colspan="4"><textarea id="content">{{post.content}}</textarea></td>
                </tr>
            </table>
        </form>
        <div class="btn-input2">
            <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
            <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
            <button onclick="history.back()">취소</button>
        </div>
    </div>
</div>

<link href="/app/css/posts.css" rel="stylesheet" type="text/css">
{{>layout/footer}}