{{>mustache/layout/header}}

<h1 class="h1header">마이페이지</h1>
<!---메인 버튼 ---->
<nav class="headernav">
    <ul class="headerul">
        <li class="menu2"><a class="headera" href="/">Home</a></li>
        <li class="menu2"><a class="headera"></a></li>
        <li class="menu2"><a class="headera"></a></li>
        <li class="menu2"><a class="headera"></a></li>
        <li class="menu2"><a class="headera" href="/posts">게시판</a></li>
        <li class="menu2"><a class="headera" href="/mypage/detail">마이 페이지</a></li>

    </ul>
</nav>

<!---사이드 메뉴 바--->
<div class="wrapper">
    <div class="sidebar">

        <div class="col1"><a href="/mypage/detail">나의 정보</a></div>
        <div class="col1"><a href="/mypage/message/list">나의 쪽지함<label style="color: red"> {{readCheck}}</label></a>
        </div>
        <div class="col1"><a href="/mypage/posts">나의 게시물</a></div>
        <div class="col1"><a href="/mypage/update">수정하기</a></div>
        <div class="col1"><a href="/mypage/withdrawal">회원탈퇴</a></div>
    </div>
    <div class="main">
        <div class="wrapper-h3">
            <h3>나의 쪽지함</h3>
        </div>
        <div class="tabletop">

            <!---메세지 버튼---->
            <div class="message-btn">
                <div class="check">
                <input type="checkbox" name="allCheck" id="allCheck"/><label for="allCheck">모두 선택</label>
                <button type="button" class="selectDelete_btn">선택삭제</button>
                </div>
                <div class="post">
                    <a href="/mypage/message/post">쪽지 쓰기</a>
                </div>
            </div>


            <!---메세지 목록---->

            <table class="table">
                <thead>
                <tr>
                    <th class="tdId"></th>
                    <th>제목</th>
                    <th class="author">보낸이</th>
                    <th class="createdDate">수신일</th>
                </tr>
                </thead>
                <tbody id="tbody">
                {{#messages}}
                    <tr>
                        <td class="tdId"><input type="checkbox" name="chBox" class="chBox" data-cartNum="{{id}}"/></td>
                        <td class="bold"><a href="/mypage/message/detail/{{id}}">{{title}}</a></td>
                        <td class="author">{{author}}</td>
                        <td class="createdDate">{{createdDate}}</td>
                    </tr>
                {{/messages}}
                {{^messages}}
                    <tr>

                        <td></td>
                        <td>쪽지가 없습니다.</td>
                        <td></td>
                    </tr>
                {{/messages}}
                </tbody>
            </table>
            <div class="page_wrap">
                <div class="page_nation">
                    {{#messagePageList}}
                        <a href="javascript:;" class="pageNum" value="{{listNum}}">{{listNum}}</a>
                    {{/messagePageList}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

    $(".myPageNum").on("click", function () {
        var path = window.location.pathname;
        var page = $(this).attr('value') - 1;

        window.location.href = path + "?page=" + page;

    });

    //모두 삭제
    $("#allCheck").click(function () {
        var chk = $("#allCheck").prop("checked");
        if (chk) {
            $(".chBox").prop("checked", true);
        } else {
            $(".chBox").prop("checked", false);
        }
    });

    $(".chBox").click(function () {
        $("#allCheck").prop("checked", false);
    });

    //선택 삭제
    $(".selectDelete_btn").click(function () {
        var confirm_val = confirm("정말 삭제하시겠습니까?");

        if (confirm_val) {
            var checkArr = new Array();

            $("input[class='chBox']:checked").each(function () {
                checkArr.push($(this).attr("data-cartNum"));
            });

            $.ajax({
                url: "/api/v1/message/deleteArr",
                type: 'POST',
                data: {chbox: checkArr},
                success: function () {
                    var path = window.location.pathname;
                    window.location.href = path;
                }
            });
        }
    });

</script>


<link href="/app/css/message.css" rel="stylesheet" type="text/css">

{{>mustache/layout/footer}}footer}}