{{>mustache/layout/header}}

<h1 class="h1header">마이페이지</h1>

<nav class="headernav">
    <ul class="headerul">
        <li class="menu2"><a class="headera" href="/">Home</a></li>
        <li class="menu2"><a class="headera"></a></li>
        <li class="menu2"><a class="headera"></a></li>
        <li class="menu2"><a class="headera"></a></li>
        <li class="menu2"><a class="headera" href="/posts">게시판</a></li>
        <li class="menu2"><a class="headera" href="/mypage/detail">마이 페이지</a></li>

    </ul>
</nav>
<div class="wrapper">
    <div class="sidebar">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col1"><a href="/mypage/detail">나의 정보</a></div>
        <div class="col1"><a href="/mypage/message/list">나의 쪽지함</a></div>
        <div class="col1"><a href="/mypage/posts">나의 게시물</a></div>
        <div class="col1"><a href="/mypage/update">수정하기</a></div>
        <div class="col1"><a href="/mypage/withdrawal">회원탈퇴</a></div>
    </div>
    <div class="col1"><a href="/mypage/message/post">쪽지 쓰기</a></div>
    <div class="main">
        <div class="wrapper-h3">
            <h3>나의 쪽지함</h3>
        </div>
        <div class="tabletop">
            <input type="button" value="선택삭제" class="btn-outline-info" onclick="deleteValue();">
            <table class="table">
                <thead>
                <tr>
                    <th class="tdId"></th>
                    <th>제목</th>
                    <th class="author">보낸이</th>
                    <th class="createdDate">작성일</th>
                </tr>
                </thead>
                <tbody id="tbody">
                {{#messages}}
                    <tr>
                        <td class="tdId"><input type="checkbox" name="rowCheck" value="{{id}}"></td>
                        <td class="bold"><a href="/mypage/message/detail/{{id}}">{{title}}</a></td>
                        <td class="author">{{author}}</td>
                        <td class="createdDate">{{createdDate}}</td>
                    </tr>
                {{/messages}}
                {{^messages}}
                    <tr>

                        <td></td>
                        <td>쪽지가 없습니다.</td>
                        <td></td>
                    </tr>
                {{/messages}}
                </tbody>
            </table>
            <div class="page_wrap">
                <div class="page_nation">
                    {{#messagePageList}}
                        <a href="javascript:;" class="pageNum" value="{{listNum}}">{{listNum}}</a>
                    {{/messagePageList}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

    $(".myPageNum").on("click", function () {
        var path = window.location.pathname;
        var page = $(this).attr('value') - 1;

        window.location.href = path + "?page=" + page;

    });

    $(function () {
        var chkObj = document.getElementsByName("rowCheck");
        var rowCnt = chkObj.length;

        $("input[name='allCheck']").click(function () {
            var chk_listArr = $("input[name='rowCheck']");
            for (var i = 0; i < chk_listArr.lenth; i++) {
                chk_listArr[i].checked = this.checked;
            }
        });

        $("input[name='rowCheck']").click(function () {
            if ($("input[name='rowCheck']:checked").length == rowCnt) {
                $("input[name='allCheck']")[0].checked = true;
            } else {
                $("input[name='allCheck']")[0].checked = false;
            }
        });
    });

    function deleteValue() {

        var url = "/api/v1/message/deleteArr";
        var valueArr = new Array();
        var list = $("input[name='rowCheck']");
        for (var i = 0; i < list.length; i++) {
            if (list[i].checked) {
                valueArr.push(list[i].value);
            }
        }

        if (valueArr.length == 0) {
            alert("선택된 글이 없습니다.");
        } else {
            var chk = confirm("삭제하시겠습니까?");


            $.ajax({
                type: 'POST',
                url: url,
                contentType: 'application/json; charset=utf-8',
                data:{
                    valueArr: valueArr
                },
            }).done(function (data) {

                alert("선택한 글을 삭제했습니다.");
                var path = window.location.pathname;
                window.location.href = path;

            }).fail(function (error) {
                alert("선택한 글을 삭제 실패했습니다.");
            });

        }


    }


</script>


<link href="/app/css/mypage.css" rel="stylesheet" type="text/css">

{{>mustache/layout/footer}}footer}}