{{>layout/smallHeader}}

<h1>비밀번호 찾기</h1>

<div class="smallMain">
    <div class="findpw">
        <span>회원님의 임시 비밀번호는</span>
        <br/>
        {{#findpassword}}
            {{findpassword}} 입니다.
        {{/findpassword}}
        <br/>
        로그인 후 변경하셔야 합니다.
    </div>
    <div class="close2">
        <input type="button" value="창닫기" onClick="window.close()">
    </div>
</div>
<link href="/app/css/smallfind-id-pw.css" rel="stylesheet" type="text/css">
{{>layout/smallFooter}}

