{{>layout/header}}

<h1>내가 쓴 게시물</h1>
{{#userPosts}}
    <div class="wrapper">
        <table class="table">
            <thead>
            <tr>
                <th class="tdId">번호</th>
                <th class="tdId"></th>
                <th>제목</th>
                <th class="author">작성자</th>
                <th class="createdDate">작성일</th>
            </tr>
            </thead>
            <tbody id="tbody">
                <tr>
                    <td class="tdId">{{id}}</td>
                    <td class="tdId"></td>
                    <td class="bold"><a href="/posts/detail/{{id}}">{{title}}</a></td>
                    <td class="author">{{author}}</td>
                    <td class="createdDate">{{createdDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
{{/userPosts}}
{{^userPosts}}
    작성하신 게시물이 없습니다.
{{/userPosts}}

<link href="/app/css/posts-list.css" rel="stylesheet" type="text/css">

{{>layout/footer}}