{{>layout/header}}
<!--로그인화면-->

<div class="wrapper">
    <div class="main">
        <span class="title3">Login</span>
        <form action="/login" method="POST">
            <div class="box">
                <div class="input">
                    <input type="text" id="username" placeholder="아이디" autofocus/>
                </div>
                <div class="input">
                    <input type="password" id="password" placeholder="비밀번호"/>
                </div>
                <div class="button">
                    <button type="button" class="btn btn-primary" id="btn-signin">로그인</button>
                </div>
                <div class="notice" id="login"></div>
                <div class="last">
                    <div class="left">
                        <a class="id_pwd_search" href="/findid">아이디 찾기</a><br/>
                    </div>
                    <div class="middle">
                        <a class="findpw" href="/findpassword">비밀 번호 찾기</a>
                    </div>
                    <div class="right">
                        <a class="signup " href="/signup">회원가입</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<link href="/app/css/Login-find.css" rel="stylesheet" type="text/css">

{{>layout/footer}}