{{>mustache/layout/index-header}}

<div class="img">
    <div class="content">
        <div class="main">BoardPlay</div>
        <div></div>
        <section class="main-section">
            <div class="searchbar-wrap">
                <i class="fas fa-search"></i>
                <input type="text" class="search-input" id="keyword" name="keyword">
                <i class="fas fa-keyboard"></i>
            </div>
            <div class="buttons">
                <button><a href="/posts">보러가기</a></button>
                <button class="btn btn-primary" id="btn-mainSearch">검색하기</button>
            </div>
        </section>
    </div>
    <div class="img-cover"></div>
</div>


<link href="/app/css/index.css" rel="stylesheet" type="text/css">


{{>mustache/layout/footer}}