<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer">
                <ul>
                    <li>사이트 도움말</li>
                    <li>사이트 이용약관</li>
                    <li>사이트 운영원칙</li>
                    <li>개인정보취급방침</li>
                    <li>책임의 한계와 법적고지</li>
                    <li>게시중단요청서비스</li>
                    <li>고객센터</li>
                </ul>
                <div>
                    Copyright ©
                    All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
<!--index.js 추가-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/app/js/index.js"></script>
<link href="/app/css/header-footer.css" rel="stylesheet" type="text/css">
<link href="/app/css/fonts.css" rel="stylesheet" type="text/css">
</body>


</html>