{{>layout/header}}

<h1>웹 서비스</h1>
<div class="col-md-12">

    <div class="row">

        <div class="col-md-6">
            {{#username}}
                <a href="/posts/save">글 등록</a>
            {{/username}}
        </div>
        <div class="col-md-6">
            {{#username}}
             <span id="user">{{username}}</span>님 환영합니다.
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>

            {{/username}}
            {{^username}}
                    <a href="/signup">회원가입</a>
                    <a href="/login">Login</a>
            {{/username}}
        </div>
       </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>

{{>layout/footer}}