{{>mustache/layout/header}}
<div class="wrapper">
    <div class="posts-save">
        <form>
            <table class="table">
                <tr>
                    <th>제목</th>
                    <td><input type="text"  id="title" placeholder="제목을 입력하세요"></td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td colspan="3"><input type="text"id="author" value="{{author}}" readonly>
                    </td>
                </tr>
                <tr>
                    <th colspan="4">내용</th>
                </tr>
                <tr>
                    <td colspan="4"><textarea id="content" placeholder="내용을 입력하세요"></textarea></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="btn-input">
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
    </div>
</div>
<link href="/app/css/posts.css" rel="stylesheet" type="text/css">
{{>mustache/layout/footer}}