{{>mustache/layout/header}}

<div class="wrapper">
    <div class="posts-detail">
        <form>
            <table class="table">
                <tr>
                    <th>제목</th>
                    <td colspan="3">{{postD.title}}</td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td colspan="3">{{postD.author}}</td>
                </tr>
                <tr>
                    <th>작성일</th>
                    <td>{{postD.createdDate}}</td>
                    <th>수정 날짜</th>
                    <td>{{postD.modifiedDate}}</td>
                </tr>
                <tr>
                    <th colspan="4">내용</th>
                </tr>
                <tr>
                    <td colspan="4" class="height">{{postD.content}}</td>
                </tr>
            </table>
        </form>
    </div>
    <div class="btn-input btn-right">
        {{#postUser}}
            <button onclick="history.back()">돌아가기</button>
            <a href="/posts/update/{{postD.id}}" type="button">수정</a>
        {{/postUser}}
    </div>
</div>

<link href="/app/css/posts.css" rel="stylesheet" type="text/css">

{{>mustache/layout/footer}}