{{>mustache/layout/header}}

<h1 class="h1header">자유게시판</h1>

<nav class="headernav">
    <ul class="headerul">
        <li class="menu2"><a class="headera" href="/">Home</a></li>
        <li class="menu2"><a class="headera"></a></li>
        <li class="menu2"><a class="headera"></a></li>
        <li class="menu2"><a class="headera"></a></li>
        <li class="menu2"><a class="headera" href="/posts">게시판</a></li>
        <li class="menu2"><a class="headera" href="/mypage/detail">마이 페이지</a></li>

    </ul>
</nav>
<div class="wrapper">
    <div class="posts-detail">
        <form>
            <table class="table">
                <tr>
                    <th>제목</th>
                    <td colspan="3">{{postD.title}}</td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td>{{postD.author}}</td>
                    <th>조회수</th>
                    <td>{{postD.hit}}</td>
                </tr>
                <tr>
                    <th>작성일</th>
                    <td>{{postD.createdDate}}</td>
                    <th>수정 날짜</th>
                    <td>{{postD.modifiedDate}}</td>
                </tr>
                <tr>
                    <th colspan="4">내용</th>
                </tr>
                <tr>
                    <td colspan="4" class="height">{{postD.content}}</td>
                </tr>
            </table>
        </form>
    </div>
    <div class="btn-input btn-right">
        {{#postUser}}
            <button onclick="history.back()">돌아가기</button>
            <a href="/posts/update/{{postD.id}}" type="button">수정</a>
        {{/postUser}}
    </div>

    <nav class="comments">
        <div id="nav">
            {{#commentAuthor}}
                <input type="hidden" id="post_id" value="{{postD.id}}">
                <div id="form-comment">
                    <div id="comment-count">
                        <input type="hidden" id="author" value="{{commentAuthor}}">
                        <input id="comment" placeholder="댓글을 입력해 주세요.">
                        <button id="btn-commentSave">등록</button>
                    </div>
                </div>
            {{/commentAuthor}}

            <ul class="main">
                {{#comments}}
                    <li class="contents">
                        <div class="contentBtn">
                            <button class="button">수정</button>
                            <input type="hidden" id="commentId" value="{{id}}">
                            <a href="#comments" class="comment-destroy-btn" value="{{id}}">삭제</a>
                        </div>
                        <div class="content">
                            <h5>{{author}} {{modifiedDate}} </h5>
                            <p>{{content}}</p>
                        </div>
                        <ul class="sub">
                            <li>
                                <form>
                                    <textarea id="comment-content">{{content}}</textarea>
                                    <input type="hidden" id="comment-id" value="{{id}}">
                                    <input type="hidden" id="comment-author" value="{{author}}">
                                    <div class="updateBtn">
                                        <button type="button" class="comment-update-btn">수정 완료</button>
                                        <button type="button" class="close">닫기</button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </li>
                {{/comments}}
            </ul>
        </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>

        $(document).ready(function () {

            $('.sub').hide();


            $(".main>li .button").click(function () {
                $(this).closest('li').find('.sub').show();
                $(this).closest('li').find('.content').hide();
                $(this).closest('li').find('.contentBtn').hide();
            });

            $(".main>li .sub .close").click(function () {

                $('.sub').hide();
                $('.content').show();
                $('.contentBtn').show();

            });

        });

        var comment = {
                    init: function () {

                        // 수정 버튼 변수화
                        const updateBtns = document.querySelectorAll('.comment-update-btn');

                        updateBtns.forEach(function (item) {
                            item.addEventListener('click', function () {
                                var form = this.closest('form');
                                _this.update(form);
                            });
                        });


                        var _this = this;

                        // 삭제 버튼 변수화
                        const destroyBtns = document.querySelectorAll('.comment-destroy-btn');
                        destroyBtns.forEach(function (item) {
                            item.addEventListener('click', function () {
                                var commentId = this.getAttribute('value');
                                _this.commentDelete(commentId);
                            });
                        });
                    },

                    update: function (form) {
                        // 데이터
                        var data = {

                            id: form.querySelector('#comment-id').value,
                            author: form.querySelector('#comment-author').value,
                            content: form.querySelector('#comment-content').value,
                        };

                        $.ajax({
                            type: 'PUT',
                            url: '/api/v1/comments/' + data.id,
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            data: JSON.stringify(data)
                        }).done(function () {
                            alert('글이 수정되었습니다.');
                            window.location.reload();
                        }).fail(function (error) {
                            alert(JSON.stringify(error));
                        });
                    },

                    // 댓글 삭제
                    commentDelete: function (commentId) {

                        $.ajax({
                            type: 'DELETE',
                            url: '/api/v1/comments/' + commentId,
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8'
                        }).done(function () {
                            alert('댓글이 삭제되었습니다.');
                            window.location.reload();
                        }).fail(function (error) {
                            alert(JSON.stringify(error));
                        });
                    }
                }
        ;

        comment.init();
    </script>

    <link href="/app/css/posts.css" rel="stylesheet" type="text/css">

{{>mustache/layout/detail-footer}}