{{>mustache/layout/header}}

<div class="main-container">
    <div class="main-wrap">
        <header>
            <div class="logo-wrap">
                <span>BoardPlay</span>
            </div>
        </header>
        <form action="/login" method="POST">
            <section class="login-input-section-wrap">
                <div class="login-input-wrap">
                    <input type="text" id="username" name="username" placeholder="아이디" autofocus/>
                </div>
                <div class="login-input-wrap password-wrap">
                    <input type="text" id="name" placeholder="이름" autofocus/>
                </div>
                <div class="login-input-wrap password-wrap">
                    <input type="text" id="email" placeholder="이메일" autofocus/>
                </div>
                <div class="login-button-wrap">
                    <button type="button" id="btn-findPassword">비밀번호 찾기</button>
                </div>
            </section>

            <div class="login-stay-sign-in">
                <i class="far fa-check-circle"></i>
                <div class="notice" id="login"></div>
            </div>
            <section class="Easy-sgin-in-wrap">
                <p class="forget-msg">Forgot your Id? | Sign in or Sign up</p>
                <h2></h2>
                <ul class="sign-button-list">

                    <li>
                        <button><i><img src="/app/images/pinkdot2.png"/></i><a href="/findid">아이디 찾기</a>
                        </button>
                    </li>
                    <li>
                        <button><i><img src="/app/images/pinkdot2.png"/></i><a href="/signin">Sign in</a></button>
                    </li>
                    <li>
                        <button><i><img src="/app/images/pinkdot2.png"/></i><a href="/signup">Sign up</a></button>
                    </li>

                </ul>
            </section>
            <section class="Easy-sgin-in-wrap"></section>
            <section class="Easy-sgin-in-wrap"></section>
            <section class="Easy-sgin-in-wrap"></section>
        </form>
    </div>
</div>


<link href="/app/css/Login-find.css" rel="stylesheet" type="text/css">

{{>mustache/layout/footer}}

