{{>mustache/layout/header}}


<h1 class="h1header">마이 페이지</h1>

<nav class="headernav">
    <ul class="headerul">
        <li class="menu2"><a class="headera" href="/">Home</a></li>
        <li class="menu2"><a class="headera"></a></li>
        <li class="menu2"><a class="headera"></a></li>
        <li class="menu2"><a class="headera"></a></li>
        <li class="menu2"><a class="headera" href="/posts">게시판</a></li>
        <li class="menu2"><a class="headera" href="/mypage/detail">마이 페이지</a></li>

    </ul>
</nav>

<div class="wrapper">
    <div class="sidebar">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col1"><a href="/mypage/detail">나의 정보</a></div>
        <div class="col1"><a href="/mypage/message/list">나의 쪽지함</a></div>
        <div class="col1"><a href="/mypage/posts">나의 게시물</a></div>
        <div class="col1"><a href="/mypage/update">수정하기</a></div>
        <div class="col1"><a href="/mypage/withdrawal">회원탈퇴</a></div>
    </div>
    <div class="main">
        <div class="wrapper-h3">
            <h3>{{userD.name}}님의 프로필 정보</h3>
        </div>
        <div class="wrapper-body">
            <div class="wrapper-left">
                <div class="imgmove">
                    <img src="/app/images/profile.jpg" alt="이미지"></div>
            </div>
            <div class="wrapper-right">
                <div class="col1">
                    <div class="row1">아이디:</div>
                    <div class="row1-data">{{userD.username}}</div>
                </div>
                <div class="col2">
                    <div class="row2">이름:</div>
                    <div class="row2-data">{{userD.name}}</div>
                </div>
                <div class="col3">
                    <div class="row3">이메일:</div>
                    <div class="row3-data">{{userD.email}}</div>
                </div>
            </div>
        </div>
    </div>

</div>


<link href="/app/css/mypage.css" rel="stylesheet" type="text/css">
{{>mustache/layout/footer}}