{{>mustache/layout/header}}

<h1 class="h1header">마이페이지</h1>

<nav class="headernav">
    <ul class="headerul">
        <li class="menu2"><a class="headera" href="/">Home</a></li>
        <li class="menu2"><a class="headera"></a></li>
        <li class="menu2"><a class="headera"></a></li>
        <li class="menu2"><a class="headera"></a></li>
        <li class="menu2"><a class="headera" href="/posts">게시판</a></li>
        <li class="menu2"><a class="headera" href="/mypage/detail">마이 페이지</a></li>

    </ul>
</nav>
<div class="wrapper">
    <div class="sidebar">

        <div class="col1"><a href="/mypage/detail">나의 정보</a></div>
        <div class="col1"><a href="/mypage/message/list">나의 쪽지함<label style="color: red"> {{readCheck7}}</label></a>
        </div>
        <div class="col1"><a href="/mypage/posts">나의 게시물</a></div>
        <div class="col1"><a href="/mypage/update">수정하기</a></div>
        <div class="col1"><a href="/mypage/withdrawal">회원탈퇴</a></div>
    </div>
    {
    <div class="main">
        <div class="wrapper-h3">
            <h3>나의 게시물</h3>
        </div>
        <div class="tabletop">
            <table class="table">
                <thead>
                <tr>
                    <th class="tdId">번호</th>
                    <th class="tdId"></th>
                    <th>제목</th>
                    <th class="author">작성자</th>
                    <th class="createdDate">작성일</th>
                    <th class="hit">조회수</th>
                </tr>
                </thead>
                <tbody id="tbody">
                {{#userPosts}}
                    <tr>
                        <td class="tdId">{{id}}</td>
                        <td class="tdId"></td>
                        <td class="bold"><a href="/posts/detail/{{id}}">{{title}}</a></td>
                        <td class="author">{{author}}</td>
                        <td class="createdDate">{{createdDate}}</td>
                        <td class="hit">{{hit}}</td>
                    </tr>
                {{/userPosts}}
                {{^userPosts}}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>등록된 게시물이 없습니다.</td>
                    </tr>
                {{/userPosts}}
                </tbody>
            </table>
            <div class="page_wrap">
                <div class="page_nation">
                    {{#myPageList}}
                        <a href="javascript:;" class="pageNum" value="{{listNum}}">{{listNum}}</a>
                    {{/myPageList}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

    $(".myPageNum").on("click", function () {
        var path = window.location.pathname;
        var page = $(this).attr('value') - 1;

        window.location.href = path + "?page=" + page;

    });
</script>


<link href="/app/css/mypage.css" rel="stylesheet" type="text/css">

{{>mustache/layout/footer}}