{{>mustache/layout/header}}


<h1 class="h1header">마이페이지</h1>

<nav class="headernav">
    <ul class="headerul">
        <li class="menu2"><a class="headera" href="/">Home</a></li>
        <li class="menu2"><a class="headera"></a></li>
        <li class="menu2"><a class="headera"></a></li>
        <li class="menu2"><a class="headera"></a></li>
        <li class="menu2"><a class="headera" href="/posts">게시판</a></li>
        <li class="menu2"><a class="headera" href="/mypage/detail">마이 페이지</a></li>

    </ul>
</nav>
<div class="wrapper">
    <div class="sidebar">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col1"><a href="/mypage/detail">나의 정보</a></div>
        <div class="col1"><a href="/mypage/posts">나의 게시물</a></div>
        <div class="col1"><a href="/mypage/update">수정하기</a></div>
        <div class="col1"><a href="/mypage/withdrawal">회원탈퇴</a></div>
    </div>
    <div class="main">
        <div class="wrapper-h3">
            <h3>정보 수정</h3>
        </div>
        <form>
            <div class="box">
                <div class="input">
                    <input type="text" id="username" value="{{users.username}}" placeholder="아이디" readonly/>
                </div>
                <div class="input">
                    <input type="password" id="password" placeholder="비밀번호" autofocus/>
                </div>
                <div class="input">
                    <input type="password" id="password2" placeholder="비밀번호 확인" autofocus/>
                </div>
                <div class="notice" id="checkPw" style="color: red"></div>
                <div class="input">
                    <input type="text" id="name" value="{{users.name}}" placeholder="이름" autofocus/>
                </div>
                <div class="input">
                    <input type="email" id="email" value="{{users.email}} " placeholder="이메일" autofocus/>
                </div>
                <div class="last">
                    <button type="button" class="btn btn-primary" id="btn-userUpdate">수정</button>
                </div>

            </div>
        </form>

    </div>
</div>
<link href="/app/css/mypage.css" rel="stylesheet" type="text/css">

{{>mustache/layout/footer}}