{{>mustache/layout/header}}

<div class="wrapper">
    <div class="main">
        <span class="title">회원 가입</span>
        <form>
            <div class="box">
                <div class="input">
                    <input type="text"  id="username" name="username" placeholder="아이디를 입력해주세요." required>
                </div>
                <div class="notice" id="checkId" style="color: red"></div>
            </div>
            <div class="box">
                <div class="input">
                    <input type="password" id="password" class="pw" placeholder="비밀번호를 입력해주세요.">
                </div>
                <div class="notice"  style="color: red"></div>
                <div class="input">
                    <input type="password" id="password2" class="pw" placeholder="비밀번호를 확인해주세요.">
                </div>
                <div class="notice" id="checkPw"></div>
            </div>
            <div class="box">
                <div class="input">
                    <input type="name" id="name" placeholder="이름을 입력해주세요.">
                </div>
                <div class="notice"  style="color: red"></div>
            </div>
            <div class="box">
                <div class="input">
                    <input type="text" class="email" id="email" name="email" placeholder="이메일을 입력해주세요."/>
                </div>
                <div class="notice"  style="color: red"></div>
            </div>
            <div class="button">
                <button type="button" class="btn btn-primary" id="btn-signup">가입하기</button>
            </div>
            <div class="notice" id="checkAll"></div>

        </form>
    </div>
</div>


<link href="/app/css/signup.css" rel="stylesheet" type="text/css">
{{>mustache/layout/footer}}